@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;


}

body {
    display: flex;
    justify-content: center;
}

.page {

    max-width: 1106px;
    width: 100%;
    background-color: #F5F8FF;
}

.Top-section {
    display: grid;
    grid-template-rows: auto auto auto;
    background-image: url(backgourond/Mask-group.png);
    background-position: 20px 0px;
    background-size: 90%;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 86px;
    padding-right: 86px;
    margin-top: 12px;
}


header .logo .logo-links {
    display: flex;
    flex-direction: row;
    gap: 3px;

}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-left: 5px;
}

.Vector {
    position: relative;
    top: 2px;
}

.Vector4 {
    position: relative;
    right: 3px;
}

header ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffffa1;
    width: 383px;
    height: 52px;
    border-radius: 10px;
}


header ul a {
    font-family: "Inter", sans-serif;
    color: #8987A1;
    font-size: 13px;
}

header ul a:hover {
    color: black;
    font-weight: 600;
}

.btn-In {
    background-color: #f5f8ff00;
    border: none;
    color: #8987A1;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    margin-right: 9px;

}

.btn-In:hover {
    color: black;
    font-weight: 700;
    text-shadow: 0px 0px 10px #F5F8FF;
}

.btn-Up {
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 36px;
    border-radius: 10px;

}

.btn-Up:hover {
    text-shadow: 0px 0px 10px white;
    font-weight: 600;
    box-shadow: 0px 0px 5px #4E47FF;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 79px;
}

.address h1 {
    font-size: 60px;
    font-family: "Raleway", sans-serif;

}

span {
    margin-left: 70px;
}

.btn-Get-in-Touch {
    margin-top: 27.80px;
}

.btn-Get-in-Touch a button {
    width: 162px;
    height: 46px;
    background-color: #252432;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    cursor: pointer;
    border: none;


}

.btn-Get-in-Touch a button:hover {
    box-shadow: 0px 0px 5px #252432;
    text-shadow: 0px 0px 5px #FFFFFF;
}

.section-What-We-do {
    margin-top: 119px;
    margin-left: 86px;
    margin-right: 86px;
}

.section-What-We-do h2 {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
}

.section-1 {

    margin-top: 24px;
    display: grid;
    grid-template-columns: auto auto;

}

.mohama {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-rows: auto auto;

}

.hos {
    display: flex;

}

.section-1 .Web-Design {

    height: 193px;
    padding-left: 19px;
    padding-top: 22px;
    padding-right: 17px;
    background-color: white;
    margin-right: 24px;



}

.section-1 .Web-Design img {
    background-color: #f5f8ff;
    border-radius: 2px;
}


.section-1 .Web-Design h3 {
    font-family: "Inter", sans-serif;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 15px;
}

.section-1 .Web-Design p {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #8987A1;

}

.nin {
    display: flex;
}

.Webflow {
    width: 417px;
    height: 193px;
    padding-left: 19px;
    padding-top: 22px;
    padding-right: 17px;
    background-color: white;
    margin-right: 24px;
    display: flex;
}
.websites-1{
    width: 200px;
}

.sise-vector {
    width: 170px;
    height: 162px;
    margin-left: 74px;
    background-image: url("صور-للايقونات/Rectangl-43.png");
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


.Webflow h3 {
    font-family: "Inter", sans-serif;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 15px;
}

.Webflow p {

    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #8987A1;

}

.E-commerce-Solutions {

    width: 215px;
    height: 411px;
    padding-left: 19px;
    padding-top: 22px;
    padding-right: 17px;
    background-color: white;


}

.E-commerce-Solutions img {

    background-color: #f5f8ff;
    border-radius: 2px;
}

.E-commerce-Solutions h3 {

    font-family: "Inter", sans-serif;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 15px;
}

.E-commerce-Solutions p {

    font-family: "Raleway", sans-serif;
    font-size: 11px;
    font-weight: 300;
    color: #8987A1;
}


.E-commerce-Solutions .Rectangle {
    margin-top: 32px;
}
